/*universal*/
ol {
    counter-reset: number-bullet;
    list-style: none;
}
ol li {
    counter-increment: number-bullet;
}
.list .no-bullet::before {
    content: counter(number-bullet);
    font-weight: 700;
    font-size: 13px;
    color: var(--dark-brown-1);
    margin: 0 8px;
    text-align: right;
    direction: rtl;
}
#homepage-about .container h2 {
    margin: 1rem 0 2rem 0 !important;
}
#homepage-about{
    background-color: var(--light-grey-3);
}

.footer-section .footer-content .brand-logo {
    margin-bottom: 2rem;
}
.footer-section .copyright {
    background-color: var(--active-icon-color);
}

.navbar-section .navbar .navbar-nav li .sub-menu, .navbar-style-2 .navbar .navbar-nav li .sub-menu {
    width: 210px !important;
}
.contact-details-section .message-from {
    margin-top: 4% !important;
}
.breadcrub-style-3 .bg-img {
    height: 100%;
    background: url(../img/web/breadcrumb_bg.png) center center/cover;
}
.maincourse-title .page-heading {
    font-size: 3rem !important;
}
.allcourse-title .page-heading {
    font-size: 3rem !important;
}

.breadcrub-style-3 .heading h1 {
    top: 5rem;
}
.course-detail .container-fluid .media {
    background: url(../img/web/international-certificate.jpg) center center/cover;
    margin-top: 10vh;
    max-height: 100vh;
    min-height: 700px;
}
/*#course-homepage .owl-carousel .owl-item {
	width: 300px !important;
}*/

/*Main Course Page*/
#different-certificate .course-card-style-2 .card .card-img-overlay .card-body {
    padding: 1rem;
}
#main-coursepage h3{
    margin: 20px 0;
}
#main-coursepage .divider {
    width: 100%;
    height: 1px;
    background-color: var(--light-grey-4);
    margin: 20px 0px;
}
.http-error .http-error-main {
    margin-top: 5rem;
}

/*Single Course Page*/
#single-coursepage h3{
    margin: 20px 0;
}
#single-coursepage .divider {
    width: 100%;
    height: 1px;
    background-color: var(--light-grey-4);
    margin: 20px 0px;
}
#single-coursepage .accordion-wrapper h5 a{
    font-size: 14px !important;
}
#courses-tab .nav-item a.active, #courses-tab .nav-item a.nav-link:active, #courses-tab .nav-item a.nav-link:focus{
    background: var(--light-brown-1) !important;
    border-right: 2px solid var(--dark-brown-1);
}

/*Single Course Sidebar*/

#single-course-sidebar h5{
    display: inline-block;
    color: var(--dark-grey-3);
    border-bottom: 1px solid var(--dark-brown-3);
    padding-bottom: 0.5rem;
    margin-top: 0.5rem;
}
.img-thumbnail{
    border: none !important;
}
.img-thumbnail .img-thumbnail-no-borders {
    border: none;
    padding: 0;
}
.img-thumbnail img {
    border-radius: 4px;
}

#single-course-sidebar .post-image {
    float: left;
    margin-right: 12px;
}
#single-course-sidebar .post-info {
    line-height: 20px;
}

/*Other Course Sidebar*/
#all-sidebar h5{
    display: inline-block;
    color: var(--dark-grey-3);
    border-bottom: 1px solid var(--dark-brown-3);
    padding-bottom: 0.5rem;
    margin-top: 0.5rem;
}
#sidebar-testimonials{
    padding: 15px;
}
#sidebar-testimonials .profile-img{
    padding: 0 !important;
    /*border-radius: 50%;*/
}
#sidebar-testimonials .profile-img img{
    border-radius: 50%;
    /*box-shadow: 2px 4px 12px 0px var(--light-grey-2);*/
}

#sidebar-testimonials .post{
    padding: 12px 25px;
    box-shadow: 5px 8px 17px -11px var(--dark-grey-3);
    background: var(--light-grey-3);
    border-radius: 15px;
    margin-top: 10px;
}
#sidebar-testimonials .comments-sign{
    /*padding-left: 0;*/
}
